<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>museum_server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EF</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EF</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>MarkServlet</servlet-name>
		<servlet-class>servlet.MarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkServlet</servlet-name>
		<url-pattern>/servlet/MarkServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MusicServlet</servlet-name>
		<servlet-class>servlet.MusicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusicServlet</servlet-name>
		<url-pattern>/servlet/MusicServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PicServlet</servlet-name>
		<servlet-class>servlet.PicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicServlet</servlet-name>
		<url-pattern>/servlet/PicServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextServlet</servlet-name>
		<servlet-class>servlet.TextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextServlet</servlet-name>
		<url-pattern>/servlet/TextServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YijianServlet</servlet-name>
		<servlet-class>servlet.YijianServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YijianServlet</servlet-name>
		<url-pattern>/servlet/YijianServlet</url-pattern>
	</servlet-mapping>
</web-app>